body{
  background-color:azure
}
* {
  margin: 0;
  padding: 0;
}
.header{
  height: 80px;
  width: auto;
  background-color: orange;
  margin: 0;
}
.main-header{
  color: aliceblue;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box{
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  width: 240px;
  margin-top: 10px;
  margin-left: 25px;
  padding-left: 10px;
  background-color:aliceblue;
  
  
}
.box h4 {
  margin-bottom: 0;
  margin-top: 1px;
  
}
.box p{
  margin-top: 0;
}

.footer{
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 2.5rem;
  
}