html, body{
  padding: 0;
  margin: 0 auto;
  background-color:azure
}
.header{
  height: 80px;
  width: auto;
  background-color: orange;
  margin-top: 0px;
}
.main-header{
  color: aliceblue;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box{
  border: 1px solid grey;
  border-radius: 5px;
  height: 90px;
  width: 240px;
  margin-top: 10px;
  margin-left: 25px;
  padding-left: 10px;
  background-color:aliceblue;
  
}
.box h4{
  margin-bottom: 0;
  
}
.box p{
  margin-top: 0;
}